<footer id="footer" class="footer">
    <div class="container-ap">

        <div class="footer-top">

            <!-- Marca -->
            <div>
                <div class="footer-brand-name">
                    <img src="~/assets/imagens/Trampo-Logo.png" alt="Logo da empresa TRAMPO" class="logo-img" />
                    Tram<span>po</span>
                </div>
                <p class="footer-brand-desc">
                    A plataforma que conecta você aos melhores profissionais e serviços da sua cidade.
                    Rápido, seguro e confiável.
                </p>

                <div class="footer-social">
                    <a href="https://www.instagram.com/vinni.dsg" aria-label="Instagram">

                        <img src="~/assets/imagens/icons/instagram.svg" alt="Instragram da TRAMPO" aria-hidden="true" target="_blank" class="social-icon">

                    </a>

                    <a href="https://www.facebook.com/share/14dcMU1vARc/?mibextid=wwXIfr" aria-label="Facebook">

                        <img src="~/assets/imagens/icons/facebook.svg" alt="Facebook da TRAMPO" aria-hidden="true" target="_blank" class="social-icon">

                    </a>

                    <a href="https://www.linkedin.com/in/trampo-ltda-a8a5b240b/" aria-label="LinkedIn" target="_blank">

                        <img src="~/assets/imagens/icons/linkedin.svg" alt="Linkedin da TRAMPO" aria-hidden="true" class="social-icon">

                    </a>

                     <a href="https://github.com/vinicimxt" aria-label="GitHUB" target="_blank">

                        <img src="~/assets/imagens/icons/github.svg" alt="GitHUB da Trampo" aria-hidden="true" target="_blank" class="social-icon">

                    </a>
                </div>

            </div>

            <!-- Plataforma -->
            <div>
                <div class="footer-col-title">Plataforma</div>
                <ul class="footer-col-links">
                    <li><a href="/#home">Início</a></li>
                    <li><a href="/#services">Explorar serviços</a></li>
                    <li><a href="/#how">Como funciona</a></li>
                    <li><a href="/#pros">Para profissionais</a></li>
                    <li><a href="/#reviews">Avaliações</a></li>
                </ul>
            </div>

            <!-- Empresa -->
            <div>
                <div class="footer-col-title">Empresa</div>
                <ul class="footer-col-links">
                    <li><a href="/#about">Sobre nós</a></li>
                    <li><a asp-controller="Home" asp-action="Termos">
                        Termos de uso
                    </a>
                </li>
                <li>
                    <a asp-controller="Home" asp-action="Privacidade">
                        Privacidade
                    </a>>
                </li>
            </ul>
        </div>

        <!-- Contato + Newsletter -->
        <div>
            <div class="footer-col-title">Contato</div>

            <div class="footer-contact-item">
                <div class="footer-contact-icon">
                    <span class="material-symbols-rounded">mail</span>
                </div>
                <div class="footer-contact-text">
                    <strong>E-mail</strong>
                    contato@trampo.com.br
                </div>
            </div>

            <div class="footer-contact-item">
                <div class="footer-contact-icon">
                    <span class="material-symbols-rounded">call</span>
                </div>
                <div class="footer-contact-text">
                    <strong>Suporte</strong>
                    (11) 4000-1234
                </div>
            </div>

            <div class="footer-contact-item">
                <div class="footer-contact-icon">
                    <span class="material-symbols-rounded">location_on</span>
                </div>
                <div class="footer-contact-text">
                    <strong>Localização</strong>
                    São Paulo, SP — Brasil
                </div>
            </div>

            <!-- RECEBER NOTÍCIAS-->

            <!-- <div style="margin-top:20px;">
                    <div class="footer-newsletter-label">Receba novidades no seu e-mail</div>
                    <div class="footer-newsletter-form">
                        <input type="email" placeholder="seu@email.com" />
                        <button type="button" aria-label="Inscrever">
                            <span class="material-symbols-rounded">send</span>
                        </button>
                    </div>
                </div>-->


        </div>

    </div>

    <!-- Rodapé inferior -->
    <div class="footer-bottom">
        <p class="footer-copy">© 2026 Trampo — Todos os direitos reservados</p>
        <div class="footer-links">
            <a asp-controller="Home" asp-action="Termos">
                Termos de uso
            </a>

            <a asp-controller="Home" asp-action="Privacidade">
                Privacidade
            </a>

            <!-- <a href="/#">Cookies</a> -->
            <a asp-controller="Suporte" asp-action="ContatoAjuda">
                Suporte
            </a>
        </div>
        <div class="footer-made">
            🇧🇷 São Paulo - Brasil
        </div>
    </div>

</div>
</footer>