<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <title>Xamou</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/css/site.css?v=3" />
    @RenderSection("Styles", required: false)

</head>

<body>

    <header class="navbar-ap" id="navbar">

        <div class="container-ap nav-wrapper">

            <a href="/#home" style="text-decoration: none; color:inherit;">
            <!-- LOGO -->
            <div class="logo">
                Tram<span>po</span>
            </div>
            </a>
            <!-- MENU -->
            <nav class="nav-links" id="navLinks">
                <a asp-controller="Home" asp-action="Index" class="nav-item">Home</a>
                <a href="/#services" class="nav-item">Serviços</a>
                <a href="/#how" class="nav-item">Como funciona</a>
                <a href="/#reviews" class="nav-item">Avaliações</a>
                <a asp-controller="Profissional" asp-action="Lista" class="nav-item">Profissionais</a>

                @if (Context.Session.GetString("UsuarioNome") != null)
                {
                    <a asp-controller="Agendamento" asp-action="Meus" class="nav-item">Agendamentos</a>
                }
                
            </nav>

            <!-- USER AREA -->
            <div class="nav-right">

                @{
                    var nome = Context.Session.GetString("UsuarioNome");
                    var tipo = Context.Session.GetString("UsuarioTipo");
                }

                @if (nome != null)
                {
                    <span class="user">Olá, @nome</span>

                    @if (tipo == "profissional")
                    {
                        <a asp-controller="Profissional" asp-action="MeuPerfil" class="btn-outline">
                            Painel
                        </a>
                    }

                    <a asp-controller="Usuario" asp-action="Logout" class="btn-logout">
                        Sair
                    </a>
                }
                else
                {
                    <a asp-controller="Usuario" asp-action="Login" class="btn-outline">
                        Login
                    </a>

                    <a asp-controller="Usuario" asp-action="Cadastro" class="btn-primary">
                        Criar Conta
                    </a>
                }

                <!-- MOBILE BTN -->
                <button class="menu-toggle" id="menuToggle">
                    ☰
                </button>

            </div>

        </div>

    </header>

    <main>
        @RenderBody()
    </main>

    <script src="~/js/site.js" defer></script>

    @RenderSection("Scripts", required: false)

</body>

</html>