@model Servico

<h2>Novo Serviço</h2>

<form method="post" action="/Servico/Salvar">

    <label>Categoria:</label>
    <select id="categoria">
        <option value="">Selecione</option>
        @foreach (var c in ViewBag.Categorias)
        {
            <option value="@c.Id">@c.Nome</option>
        }
    </select>

    <label>Subcategoria:</label>
    <select id="subcategoria" name="subcategoriaId" required>
        <option value="">Selecione a subcategoria</option>
    </select>
    
    <label>Nome do Serviço:</label>
    <input type="text" name="nome" required />

    <label>Descrição:</label>
    <textarea name="descricao"></textarea>

    <label>Contato:</label>
    <input type="text" name="contato" />

    <label>Tipo de Atendimento:</label>
    <select name="Atendimento" onchange="toggleLinkOnline(this.value)">
        <option value="Domicilio">Domicílio</option>
        <option value="Local">Local</option>
        <option value="Online">Online</option>
    </select>

    <div id="linkOnlineDiv" style="display:none;">
        <label>Link do atendimento:</label>
        <input type="text" name="LinkOnline" placeholder="Link do atendimento online..." />
    </div>
    
    <label>Raio (km):</label>
    <input type="number" name="raioAtendimento" />

    <button type="submit">Cadastrar</button>

</form>

<script>
    document.getElementById("categoria").addEventListener("change", function () {
        let categoriaId = this.value;

        fetch('/Servico/GetSubcategorias?categoriaId=' + categoriaId)
            .then(res => res.json())
            .then(data => {
                let sub = document.getElementById("subcategoria");

                sub.innerHTML = '<option value="">Selecione a subcategoria</option>';

                data.forEach(s => {
                    sub.innerHTML += `<option value="${s.id}">${s.nome}</option>`;
                });
            });
    });
    function toggleLinkOnline(tipo) {
        let div = document.getElementById("linkOnlineDiv");

        if (tipo.toLowerCase().includes("online")) {
            div.style.display = "block";
        } else {
            div.style.display = "none";
        }
    }
</script>