@model List<Notificacao>

@section Styles {
    <link rel="stylesheet" href="~/css/Notificacao.css" />
}

<div class="notificacao-page">

    <h2>🔔 Notificações</h2>

    @if (Model.Count == 0)
    {
        <p>Nenhuma notificação ainda.</p>
    }
    else
    {
        <div class="notificacao-lista">
            @foreach (var n in Model)
            {
                <a href="/Notificacao/Abrir/@n.Id?referenciaId=@n.ReferenciaId"
                       class="notificacao-item @(n.Lida ? "lida" : "nao-lida")">

                    <div class="notif-conteudo">
                        <strong>@n.Titulo</strong>
                        <p>@n.Mensagem</p>
                        <span class="notif-data">
                            @n.DataCriacao.ToString("dd/MM HH:mm")
                        </span>
                    </div>

                    @if (!n.Lida)
                    {
                        <div class="notificacao-item nao-lida">
                            <span class="dot"></span>
                            <span class="badge-novo">Novo</span>
                        </div>
                        
                    }

                </a>
            }
        </div>
    }

</div>