<h2>Novo Local</h2>

<form method="post">
    <label>Nome:</label>
    <input type="text" name="nome" required />

    <label>Endereço:</label>
    <input type="text" name="endereco" required />

    <button type="submit">Salvar</button>
</form>