<h2>Meus Locais</h2>

<a href="/Local/Criar">➕ Novo Local</a>

@foreach (var l in Model)
{
    <div>
        <h3>@l.Nome</h3>
        <p>@l.Endereco</p>

        <a href="/Local/Editar/@l.Id">✏️ Editar</a>
        <a href="/Local/Excluir/@l.Id">🗑 Excluir</a>
    </div>
}