@section Styles {
    <link rel="stylesheet" href="~/css/cadastro.css" />
}


<div class="container-cadastro">
    <div class="container">
        <h2>Cadastro</h2>

        <form method="post" action="/Usuario/Cadastrar" id="formCadastro">

            <input type="text" name="nome" placeholder="Nome completo" required>

            <input type="email" name="email" placeholder="Email" required>

            <!-- TELEFONE (futuro) -->
            <input type="text" name="telefone" id="telefone" placeholder="Telefone (opcional)">

            <input type="password" name="senha" id="senha" placeholder="Senha" required>

        
            <select id="tipo" name="tipo" onchange="mostrarCampos()" required>
                <option value="cliente">Cliente</option>
                <option value="profissional">Profissional</option>
            </select>

            <!-- CAMPOS DO PROFISSIONAL -->
            <div id="camposProfissional" style="display: none;">

                <select name="tipoDocumento">
                    <option value="CPF">CPF</option>
                    <option value="CNPJ">CNPJ</option>
                </select>

                <div class="input-group">
                    <input type="text" name="documento" id="documento" placeholder="CPF ou CNPJ">
                    <span id="docMsg" class="input-message"></span>
                </div>
            </div>

            <button type="submit" id="btnCadastro">Cadastrar</button>

        </form>

        <p>Já tem conta? <a href="Login">Login</a></p>
    </div>
</div>
@section Scripts {
    <script src="~/js/cadastro.js"></script>
}