@model List<BD_TRAMPO.Servico>

@foreach (var item in Model)
{
    <div>
        <h3>@item.Nome</h3>
        <p><b>Profissional:</b> @item.NomeProfissional</p>
        <p>@item.Descricao</p>
        <p>@item.Atendimento</p>

        <a href="/Agendamento/novo?servicoId=@item.Id">
            Agendar
        </a>
    </div>
}